# Tabular + Text Classification Demo

In [1]:
import logging;

logging.basicConfig(level=logging.INFO)
logging.getLogger().setLevel(level=logging.INFO)

import warnings
warnings.simplefilter("ignore")

In [31]:
primitives = [
    'mlprimitives.custom.text.TextCleaner',
    'mlprimitives.custom.feature_extraction.StringVectorizer',
    'sklearn.ensemble.RandomForestClassifier',
]
hyperparameters = {
    'mlprimitives.custom.text.TextCleaner': {
        'column': 'text',
        'language': 'nl'
    },
    'sklearn.ensemble.RandomForestClassifier': {
        'n_jobs': -1,
        'n_estimators': 100
    }
}

In [32]:
from mlprimitives.datasets import load_personae

dataset = load_personae()

In [33]:
dataset.describe()

Personae Dataset.

    The data of this dataset is a 2d numpy array vector containing 145 entries
    that include texts written by Dutch users in Twitter, with some additional
    information about the author, and the target is a 1d numpy binary integer
    array indicating whether the author was extrovert or not.

In [34]:
dataset.data.head()

,text_language,author_gender,author_language,author_region,text
0,Dutch,male,Dutch,A,' Artificial Life ' : documentaire over kunstm...
1,Dutch,female,Dutch,A,Kunstmatig leven Men start de film met de vraa...
2,Dutch,male,Dutch,A,De film over artificiële intelligentie die we ...
3,Dutch,female,Dutch,B,' Artificial Life ' is de titel van een docume...
4,Dutch,female,Dutch,A,Tijdens het college van 14 november bekeken we...

In [35]:
dataset.target

array([0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0])

In [36]:
from mlblocks import MLPipeline

pipeline = MLPipeline(primitives, init_params=hyperparameters)

In [37]:
X_train, X_test, y_train, y_test = dataset.get_splits(1)

In [38]:
X_train.head()

,text_language,author_gender,author_language,author_region,text
104,Dutch,female,Dutch,A,Automatic Mechanical Self Replication De film ...
83,Dutch,female,Dutch,A,"Onderzoek naar "" Artificial Life "" : een overz..."
47,Dutch,female,Dutch,A,The Artificial Life In deze ietwat verwarrende...
141,Dutch,female,Dutch,A,"Documentaire : "" Artificiel life "" De grote vr..."
82,Dutch,female,Dutch,A,"Artificiële buren ? Robotten , u hebt er vast ..."

In [39]:
pipeline.fit(X_train, y_train)

In [40]:
predictions = pipeline.predict(X_test)

In [41]:
dataset.score(y_test, predictions)

0.5945945945945946